In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv("bank-additional-full.csv",sep=";")
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [19]:
df1 = df.copy()

In [20]:
# Information about Dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [21]:
# Checking if Data contain null values or not
df1.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [22]:
df1.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [23]:
df1.size

864948

In [24]:
df1.shape

(41188, 21)

In [45]:
df1.contact.unique()

array(['telephone', 'cellular'], dtype=object)

In [27]:
def create_dict(lists):
    dict1=dict()
    for i, j in enumerate(lists):
        dict1.update({i:j})
    return dict1

In [28]:
def encode(x,dict1):
    for i in dict1:
        if dict1[i] == x:
            return i

In [34]:
dic_job = create_dict(df1.job.unique())
df1.job = df1['job'].apply(lambda x : encode(x,dic_job))

In [29]:
dic_marital = create_dict(df1.marital.unique())
df1.marital = df1['marital'].apply(lambda x: encode(x,dic_marital))

In [31]:
dic_education = create_dict(df1.education.unique())
df1.education = df1['education'].apply(lambda x : encode(x,dic_education))

In [38]:
dic_deault = create_dict(df1.default.unique())
df1.default = df1['default'].apply(lambda x : encode(x, dic_deault))

In [42]:
dic_housing = create_dict(df1.housing.unique())
df1.housing = df1['housing'].apply(lambda x : encode(x, dic_housing))

In [43]:
df1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,0,0,0,0,0,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,1,0,1,1,0,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,1,0,1,0,1,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,2,0,2,0,0,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,1,0,1,0,0,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
# 5 step Statistics Summary
df1.describe()

In [ ]:
corelation = df1.corr()

In [ ]:
plt.figure(figsize=(12,10))
sns.heatmap(corelation,annot=True, cmap='Blues')
plt.show()

In [ ]:
# normalize data 
numeric_inputs = df1.select_dtypes(include=np.number)

In [ ]:
numeric_inputs

In [ ]:
numeric_inputs.columns

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(numeric_inputs) 
numeric_inputs.loc[:,:] = scaled_values

In [ ]:
numeric_inputs

In [ ]:
#remove outliers
#from scipy import stats
#numeric_inputs = numeric_inputs[(np.abs(stats.zscore(numeric_inputs)) < 3).all(axis=1)]

In [ ]:
#numeric_inputs.shape

In [ ]:
numeric_inputs

In [ ]:
for col in numeric_inputs.columns:
    for x in [col]:
        q75,q25 = np.percentile(numeric_inputs.loc[:,x],[75,25])
        intr_qr = q75-q25
 
        max = q75+(1.5*intr_qr)
        min = q25-(1.5*intr_qr)
 
        numeric_inputs.loc[numeric_inputs[x] < min,x] = np.nan
        numeric_inputs.loc[numeric_inputs[x] > max,x] = np.nan

In [ ]:
numeric_inputs.shape

In [ ]:
numeric_inputs.isnull().sum()

In [ ]:
numeric = df1.select_dtypes(include=np.number)

In [ ]:
df2 = df1.drop(numeric, axis=1)

In [ ]:
df2 = pd.concat([numeric_inputs, df2], axis=1)

In [ ]:
df2

In [ ]:
# we have enough data so we will drop out null values
df2.isnull().sum()

In [ ]:
df2.dropna(axis=0,inplace=True)

In [ ]:
df2

In [ ]:
# onehot encoding for chategorical data
categorical_inputs = df2.select_dtypes(include=np.object)

In [ ]:
categorical_inputs =categorical_inputs.drop(columns=['y'])

In [ ]:
one_hot_encoded_data = pd.get_dummies(categorical_inputs)
print(one_hot_encoded_data)

In [ ]:
df3 = df2.drop(categorical_inputs, axis=1)

In [ ]:
df3 = pd.concat([df3,one_hot_encoded_data], axis=1)

In [ ]:
df3.shape

In [ ]:
df3

In [ ]:
df3.columns

In [ ]:
df3['target'] =df2['y'].map(dict(yes=1,no=0))

In [ ]:
df3

In [ ]:
df3.drop(columns=['y'],inplace=True)

In [ ]:
df3.info()

In [ ]:
#time to split the data
X = df3.drop(columns = ['target'])

In [ ]:
Y = df3.target

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.20)

In [ ]:
print(len(x_train),len(y_train))

In [ ]:
print(len(x_test),len(y_test))

### Using SVM

In [ ]:
from sklearn.svm import SVC

In [ ]:
model = SVC(kernel='linear')

In [ ]:
model.fit(x_train,y_train)

In [ ]:
model.score(x_test,y_test)

In [ ]:
list1 = ["h",'j','y']

In [ ]:
a=dict()
for i,j in enumerate(list1):
    a.update({i:j})

In [ ]:
a

In [ ]:
b = 'y'
for i in a:
    if a[i] == b:
        print(i)

In [11]:
df1.marital.unique()

array(['married', 'single', 'divorced', 'unknown'], dtype=object)

In [17]:
m

{0: 0, 1: 1, 2: 2, 3: 3}